#version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: factubridge_db
    environment:
      POSTGRES_DB: factubridge
      POSTGRES_USER: factubridge
      POSTGRES_PASSWORD: dev_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U factubridge" ]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: factubridge_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

  api:
    build:
      context: .
      target: prod
    container_name: factubridge_api
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql+asyncpg://factubridge:dev_pass@db:5432/factubridge
      REDIS_URL: redis://redis:6379/0
      ENV: production
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:
